<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1057308246349-56kre0i7all9rv0oguq0akp840r3ouop.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1057308246349-56kre0i7all9rv0oguq0akp840r3ouop</string>
	<key>API_KEY</key>
	<string>AIzaSyBXm5jcRXEme9GgnYWOLzuJfzUbPRFu_HU</string>
	<key>GCM_SENDER_ID</key>
	<string>1057308246349</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gatech.final</string>
	<key>PROJECT_ID</key>
	<string>final-929fc</string>
	<key>STORAGE_BUCKET</key>
	<string>final-929fc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:1057308246349:ios:7ebfa4c862f37762af3704</string>
	<key>DATABASE_URL</key>
	<string>https://final-929fc.firebaseio.com</string>
</dict>
</plist>
